extends ../layout

block content

    - if(post)

        .row: section.span8.offset2
            header
                h2 #{post.title}
                    small  #{post._id.getTimestamp().toDateString()}

            - if(post.files.length > 0)
                - each file in post.files
                    p: img(src='/file/show/#{file._id}')
                    p: a(href="/file/show/#{file._id}")=file.filename

            section!= post.content

    - else
        .alert.alert-danger Resource does not exist
