extends layout

block content

    - if(posts.length > 0)
        - each post in posts
            .row: section.span8.offset2
                header
                    a(href="/post/show/#{post._id}"): h2 #{post.title}
                        small  #{post._id.getTimestamp().toDateString()}

                - if(post.files.length > 0)
                    p: a(href="/post/show/#{post._id}")
                        img(src='/file/show/#{post.files[0]._id}',title='#{post.files[0].filename}')

                section!= post.content

                hr
    - else
        .alert.alert-info There are no posts to show.

    .row: section.span8.offset2: ul.pager
        - if(skip > 0)
            li.previous: a(href='/?skip=#{skip - limit}&limit=#{limit}') Newer
        - else
            li.previous.disabled: a Newer
        - if(hasMore)
            li.next: a(href='/?skip=#{skip + posts.length}&limit=#{limit}') Older
        - else
            li.next.disabled: a Older

    .row: section.span8.offset2: p.muted Total: #{postsCount}, showing #{skip} through #{skip + posts.length}

