extends layout

block content

    - if(posts.length > 0)
        - each post in posts
            section.span8.offset2
                header
                    h2 #{post.title}
                        small  #{post._id.getTimestamp().toDateString()}

                - if(post.files.length > 0)
                    img(src='/post/file/#{post.files[0]._id}')
                    a(href="/post/file/#{post.files[0]._id}")=post.files[0].filename

                section!= post.content

                hr
    - else
        .alert.alert-info There are no posts to show.

